#cabecalho{
    height: 130px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(0, 0, 0);
}

.container-comentarios{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2% 10%;
    gap: 55px;

}
.card-comentario{
    background-color:#9f9f9f2e;
    min-width: 270px;
    max-width: 290px;
    height: auto;
    border-radius: 12px;
    text-align: center;
    border: #ffffff14 solid 1px;
    padding: 40px 10px;
    margin: 15px;
    padding: 15px;
    gap:10px;
}
.foto {
    width: 27%;
    height: 66px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 13px;
}
.estrelas img {
    width: 18px;
    height: 18px;
    margin: 3px;
    object-fit: cover;
}

.texto{
    text-align: inherit;
    color: white;
    
  
}
